<script>
    export let background = "background_fakro.png";
    export let logo;
    export let title;
    export let link;
    let width;
</script>

<div bind:clientWidth={width} class="card" style="background-image: url(realisations/{background}); height: {width*1.5}px;">
    <div class="card-logo-container">
        <img src={"realisations/" + logo} alt={"Logo " + title}>
    </div>
    <div class="text-container">
        <h3>{title}</h3>
        <a href={link} target=_blank>Voir le projet</a>
    </div>
</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        max-width: 300px;
        width: 100%;
        margin: 0 1em;
        flex-basis: 1;
        color: white;
        text-shadow: 0 0 1px black;
    }

    .card h3 {
        text-transform: uppercase;
    }

    .card a {
        text-transform: uppercase;
        margin-bottom: 60%;
    }

    .card-logo-container {
        text-align: center;
        width: 100%;
    }

    .card img {
        width: 40%;
        object-fit: contain;
        max-height: 10vh;
    }

    .card .text-container {
        width: 100%;
    }   

    .card a {
        border: 2px solid var(--pure-white);
        border-radius: 30px;
        font-weight: 600;
        color: var(--pure-white);
    }

    .card a:hover {
        border: 2px solid var(--pure-black);
        text-shadow: 0;
        color: var(--pure-black);
    }

</style>