<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />

<footer>
   <div class="container">
       <div class="adresse">
           <p>
               32 rue Beaudimont
               <br>62000 Arras
               <br>France
           </p>
       </div>
       <div class="social-medias">
            <a href="https://www.facebook.com" target=”_blank” class="icon facebook">Facebook</a>
            <a href="https://www.linkedin.com" target="_blank" class="icon linkedin">Linkedin</a>
       </div>
       <div class="contact">
           <p>
               contact@itnov.fr
               <br><span>+33 (0) 3 13 96 79 33</span>
           </p>
       </div>
   </div>
   <div class="bottom">
       <p>Copyright © 2022 - ITNov | <a href="legal">Mentions légales</a></p>
   </div>
</footer>

<style>
   footer {
       padding-top: 1em;
       background-color: var(--pure-white);
       box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
       color: var(--pure-black);
   }

   .container {
       /* display: grid;
       grid-template-columns: repeat(3,1fr); */
       display: flex;
       justify-content: space-between;
       width: 90%;
       margin: 0 auto;
   }

   footer a {
       margin: auto 1em;
       text-align: center;
       color: var(--pure-black);
   }

   .adresse {
       display: flex;
       font-size: 0.8em;
   }

   .social-medias {
       display: flex;
   }

   .social-medias a {
       color: var(--pure-black);
   }

   .icon {
       position: relative;
   }

   .icon::before {
   padding-right: 5px;
   color: var(--pure-black);
   display: inline-block;
   font-style: normal;
   font-variant: normal;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   font-family: "Font Awesome 5 Brands";
   font-size: 1.5em;
 }

 .facebook::before {
     content: "\f082";
 }

 .linkedin::before {
   content: "\f08c";
 }

 .contact {
     display: flex;
     flex-direction: column;
     text-align: center;
     font-size: 1em;
 }

 .contact span {
     font-size: 0.8em;
 }

 .bottom {
   display:flex;
   justify-content: center;
 }

 .bottom p {
     font-size: 0.6em;
     margin: 1em;
 }

 .bottom a {
     margin: 0;
 }

 @media (max-width: 749px) {
   .container {
       flex-direction: column;
   }

   .adresse{
       display: flex;
       justify-content: center;
       margin-bottom: 1em;
       text-align: center;
   }

   .adresse p{
       text-align: center;
   }

   .social-medias{
       display: flex;
       justify-content: center;
   }

   .contact p{
        text-align: center;
   }

 }
</style>