<script>
    let open = false;
</script>

<header>
<div class="container" class:shadow={!open}>
    <div class="top-left">
        <a href="/" on:click="{() => open = false}">
            <img src="logo.png" alt="ITNov Logo" class="logo-short">
        </a>
    </div>
    <nav class="site-nav--desktop" class:site-nav--open={open}>
        <ul>
            <li><a sveltekit:prefetch href="/">Accueil</a></li>
            <li><a sveltekit:prefetch href="/services">Services</a></li>
            <li><a sveltekit:prefetch href="/contact">Nous contacter</a></li>
        </ul>
    </nav>
    <div class="menu-toggle" class:open={open} on:click="{() => open = !open}">
        <div class="hamburger"></div>
    </div>
</div>
</header>
<nav class="site-nav" class:site-nav--open={open} on:click="{() => open = !open}">
    <ul>
        <li><a sveltekit:prefetch href="/">Accueil</a></li>
        <li><a sveltekit:prefetch href="/services">Services</a></li>
        <li><a sveltekit:prefetch href="/contact">Nous contacter</a></li>
    </ul>
</nav>

<style>
    .container{
        display: flex;
        position: relative;
        justify-content: space-between;
        top: 0%;
        width:100%;
        padding: 1em 5%;
        margin: 0 auto;
    }

    .shadow {
        box-shadow: 0 0 10px -3px rgba(0, 0, 0, .25);
        transition-delay: 500ms;
        transition : box-shadow ease in 50ms;
    }

    header{
        z-index: 999;
        background: var(--pure-white);
        width: 100%;
        font-size: 1.1 em;
        position: sticky;
        top: 0;
    }
    
    .top-left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .logo-short {
        height: 2em;
    }

    .site-nav--desktop {
        display: none;
    }

    .site-nav {
        z-index: 1;
        position: fixed;
        height: 0;
        overflow: hidden;
        top: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--pure-white);
        transition: height ease-in-out 600ms;
    }

    
    .site-nav--open {
        height: 100%;
    }

    .site-nav--desktop ul,
    .site-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .site-nav li {
        margin: 0 auto;
        position: relative;
    }

    .site-nav li::after {
        content: '';
        position: absolute;
        left: 30%;
        width: 40%;
        height: 1px;
        background-color: var(--pure-white) ;
    }

    .site-nav li:last-child::after {
        height: 0;
    }

    .site-nav--desktop a,
    .site-nav a {
        color: var(--pure-black);
        display: block;
        padding: 2em;
        text-transform: uppercase;
        text-align: center;
    }

    .site-nav a:hover {
        font-weight: bold;
    }

    .menu-toggle {
        width: 2em;
        height: 2em;
        background-color: transparent;
        cursor: pointer;
    }

    .hamburger {
        position: relative;
        top: 50%;
        right: 0;
        width: 100%;
        height: 3px;
        border-radius: 3px;
        background-color: var(--primary-accent-color);
    }

    .hamburger::before,
    .hamburger::after{
        content:'';
        position: absolute;
        top: -0.75em;
        right: 0;
        width: 100%;
        height: 3px;
        border-radius: 3px;
        background-color: var(--primary-accent-color);
        transition: all 300ms;
    }

    .hamburger::after{
        top: 0.75em;
    }

    .open .hamburger {
        height: 0;
    }
    
    .open .hamburger::before {
        transform: translateY(0.75em) rotate(45deg);
    }

    .open .hamburger::after {
        transform: translateY(-0.75em) rotate(-45deg);
    }

    @media (min-width: 750px) {
  
        .menu-toggle {
        display: none;
        }

        .site-nav {
            display: none;
        }

        .site-nav--desktop {
            display:flex;
            flex-wrap: nowrap;
        }

        .site-nav--desktop li {
        display: inline-block;
        border: none;
        }

        .site-nav--desktop a {
            position: relative;
        }
        
        .site-nav--desktop a::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 3px;
            border-radius: 1px;
            background-color: var(--primary-accent-color);

            transform: scaleX(0);
            transform-origin: right;
            transition: transform 200ms ease-in;
        }

        .site-nav--desktop a:hover::after{
            transform: scaleX(1);
            transform-origin: left;
        }

        .site-nav--desktop li:last-child a:after {
            background-color: var(--primary-accent-color);
        }

        .site-nav--desktop li:last-child a {
        margin-right: 0;
        color: var(--primary-accent-color);
    }

        .site-nav--desktop a {
        padding: 0;
        margin: 1em 0.5em;
    }


        .site-nav--desktop a:hover,
        .site-nav--desktop a:focus {
        background: transparent;
        }

    }

    @media(min-width: 850px) {
        .site-nav--desktop a {
            margin: 1em;
        }
    }
</style>