<script>
    import Navbar from '$lib/Navbar.svelte';
    import Footer from '$lib/Footer.svelte';
    import '../app.css';
</script>


<div class="container">
    <Navbar/>
    <main>
        <slot/>
    </main>
    <Footer/>
</div>

<style>

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }

    main {
        padding: 2em 10%;
        margin: 0 auto;
        max-width: 1600px;
    }
    
    
</style>