<script>
    import Card from '$lib/Card.svelte';
    import realisations from '$lib/data/realisations.json';
</script>

<div>
    <h1> SPECIALISTE DE L’INFOGERANCE INFORMATIQUE </h1>
    <h3> L'infogérance n'a aucun secret pour notre équipe d'experts en informatique. </h3>
</div>
<div class="content-unit">
    <div class="img-container">
        <img src="logo_main1.png" alt="Accueil">
    </div>
    <div class="text-container">
        <p> Malgré notre toute jeune création, nous sommes très qualifiés dans l'hébergement web et la gestion des infrastructures ainsi que dans la sécurité de vos systèmes. </p>
        <p> Cet appui précieux vise à modéliser vos infrastructures en fonction de vos objectifs et de vos besoins. </p>
        <p> Vous assurer à la fois une réduction des coûts, mais aussi une ouverture vers de nouvelles perspectives pour votre société.
            <br>
            En effet, une fois le contrat d'infogérance conclu avec nos équipes, vous êtes assurés de vous concentrer en toute sérénité, sur votre cœur de métier.
        </p>
    </div>
</div>

<div class="realisations">
    <div class="text-container">
        <h2> NOS DERNIERES REALISATIONS </h2>
        <p> A ce jour, nous hébergons plusieurs sites web pour le compte de nos clients. </p>
        <p> Ce n’est pas par hasard que des clients nous confient leurs projets. Pourquoi pas vous ? </p>
    </div>
    <div class="cards-grid">
        {#each realisations as realisation}
            <Card
                background = {realisation.background}
                logo = {realisation.logo}
                title = {realisation.title}
                link = {realisation.link}  
            />
        {/each}
    </div>
</div>

    <div class="bottom">
        <h1>Nos partenaires</h1>
        <div class="partenaires">
            <img src="partenaires/logo_lille.png" alt="Logo Lille">
            <img src="partenaires/logo_pepejeans.png" alt="Logo Pepe Jeans">
            <img src="partenaires/logo_pepsi.png" alt="Logo Pepsi">
            <img src="partenaires/logo_zadig.png" alt="Logo Zadig">
        </div>
    </div>

<style>

    .content-unit {
        padding: 0 0 3em 0;
    }

    .cards-grid {
        display: flex;
        justify-content: center;
    }

    .realisations {
        padding-bottom: 5em;
    }
    .bottom,
    .realisations {
        text-align: center;
    }

    .realisations p {
        text-align: center;
    }

    .text-container {
        margin: 0 auto;
    }

    .partenaires {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 3em;
    }

    .partenaires img {
        height: 20vh;
    }

    .bottom {
        padding-top: 2em;
    }

    .bottom h1 {
        font-size: 2.5em;
        text-transform: uppercase;
        padding-bottom: 1em;
    }


    @media(max-width: 875px){
        .cards-grid {
            flex-direction: column;
            align-items: center;
            row-gap: 2em;
        }
    }

</style>