<div>
    <h1> MENTIONS LEGALES </h1>
</div>

<div class="text-container">
    <h2> EDITEUR DU SITE INTERNET </h2>
    <p> <strong>ITNOV</strong> </p>
    <p> 32, rue Baudimont
        <br>
        62000 – ARRAS
    </p>
    <p>
        Tél : 03.56.98.74.63
        <br>
        E-mail : contact@itnov.fr
    </p>
</div>

<div class="text-container">
    <h2> DIRECTEUR DE PUBLICATION </h2>
    <p> <strong>Théo LE TOIT, co-gérant d’ITNOV</strong> </p>
    <p> S.A.R.L au capital 1500,00 € </p>
    <p> Numéro d’immatriculation au RCS de Lille : B156 366 852 </p>
    <p> Code APE : 548 E </p>
    <p> Représentant légal : M. Théo LE TOIT </p>
    <br>
    <p> Site hébergé par Vercel </p>
    <p> Vercel Inc. </p>
    <p> 340 S Lemon Ave #4133 </p>
    <p> Walnut, CA 91789 </p>
</div>

<div class="text-container">
    <h2> LOI "INFORMATIQUE ET LIBERTES" </h2>
    <p> Conformément à la loi Informatique et Libertés du 6 janvier 1978, le client dispose d’un droit d’accès,
        de modification, de rectification et de suppression des données nominatives le concernant, exerçable auprès du siège d’ITNOV à l’adresse suivante :
    </p>
    <p> E-mail : contact@itnov.fr </p>
    <p> ITNOV </p>
    <p> 32, rue Baudimont </p>
    <p> 62000 – ARRAS </p>
</div>

<div class="text-container">
    <h2> MODIFICATIONS </h2>
    <p> ITNOV se réserve le droit de modifier à tout moment et sans préavis le site, y compris les présentes conditions générales. </p>
    <p> Pour plus de renseignements :  contact@itnov.fr </p>
</div>

<style>
    h1{
        padding-bottom: 1em;
    }

    .text-container{
        padding-bottom: 3em;
    }

    .text-container h2 {
        padding-bottom: 1.5em;
    }

    .text-container p{
        margin: 0;
    }
</style>