<div>
    <h1> CHEZ ITNOV NOUS PROPOSONS PLUSIEURS SERVICES </h1>
</div>

<div class="content-unit">
    <div class="img-container">
        <img src="logo_service1.png" alt="Serveurs">
    </div>
    <div class="text-container">
        <h2> SUPERVISION DE PARC INFORMATIQUE </h2>
            <p> Nos techniciens vérifient en continu le bon état de votre infrastructure informatique. </p>
            <ul>
                <li><p> Nous installons sur vos postes de travail et serveurs nos agents qui nous remontent des informations en instantané. </p></li>
                <li><p> Ces informations sont remontées dans nos consoles de supervision. </p></li>
                <li><p> Nos techniciens contrôlent ces informations et gèrent les alertes. </p></li>
                <li><p> Nos techniciens vous appellent pour mettre en place des actions de maintenance préventive. </p></li>
            </ul>
    </div>
</div>

<div class="content-unit">
    <div class="text-container">
        <h2> SECURITE INFORMATIQUE ET DU RESEAU D’ENTREPRISE </h2>
            <p> Protégez votre entreprise des intrusions et des pertes de données. </p>
            <p> La sécurité fait partie de la problématique liée à l’utilisation de l’informatique.
                Plusieurs facteurs peuvent menacer votre infrastructure informatique que ce soient des virus, des piratages et/ou l’insouciance de vos utilisateurs.
                La menace est toujours présente et un défaut de vigilance peut coûter très cher, que ce soit du vol ou des pertes de données ou la casse de vos matériels informatiques.
            </p>
            <ul>
                <li><p> Mise en place d'une stratégie de sécurité proactive </p></li>
                <li><p> Protection de votre réseau informatique </p></li>
            </ul>
    </div>
    <div class="img-container">
        <img src="logo_service2.png" alt="Sécurité">
    </div>
</div>

<div class="content-unit">
    <div class="img-container">
        <img src="logo_service3.png" alt="Hébergement Web">
    </div>
    <div class="text-container">
        <h2> HEBERGEMENT WEB </h2>
            <p> Déployer et maintenir votre site web nécessite un hébergement de qualité. Nous assurons ainsi son accès 24h/24, 7j/7, dans le monde entier, grâce à nos serveurs sécurisés. </p>
            <p> Protéger et mettre à jour la sécurité de votre site est un enjeu parfois négligé,
                ce qui est une immense erreur car en cas de défaillance technique ou d'attaque,
                c'est votre site tout entier et son accessibilité qui pourraient être compromis.
            </p>
    </div>
</div>


<style>

</style>