
:root {
	font-family: Montserrat, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	--pure-white: #ffffff;
	--pure-black: #000000;
	--primary-accent-color: #004aad;
	--secondary-color: #b4b4b4;
}

*,
*::before, 
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--alt-primary-color);
	font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
	margin: 0;
}

h1{
	color: var(--alt-secondary-color);
	font-size: 3em;
	padding-bottom: 0.2em;
}

h2 {
	color: var(--alt-tertiary-color)
}

a {
	text-decoration: none;
}

p {
	font-weight: 100;
	text-align: justify;
}

ul {
	margin: 0;
}

.content-unit {
	display: flex;
	padding: 2em 0;
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	padding: 0 2em;
}

.img-container {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

@media(max-width: 750px){
	.content-unit{
		flex-direction: column;
		align-items: center;
	}

	.img-container {
		width: 60%;
		order: 1;
	}

	.text-container {
		width: 100%;
		padding: 1em;
		order: 2;
	}

	img {
		max-height: 200px;
	}
}